.nav{
    grid-area: n;
    background-color: brown;
    padding: 20px;
    }
.item a {
    color: white ;
    text-decoration: none;
}
.item a.activeLink {
    color: gold ;
}
.friends {
    padding: 20px;
    color: lawngreen ;

}